pre.line-numbers {
  /*position: relative;*/
  /*padding-left: 3.8em;*/
  /*padding-left: 41px;*/
  /*counter-reset: linenumber;*/
}

pre.line-numbers > code {
  /*position: relative;*/
}

.line-numbers .line-numbers-rows {
  /*position: absolute;*/
  pointer-events: none;
  /*  top: 0;
  left: -58px;
  font-size: 100%;*/
  /*left: -3.8em;*/
  /*left: -58px;*/
  /*width: 3em;*/ /* works for line-numbers below 1000 lines */
  /*letter-spacing: -1px;*/
  /*border-right: 1px solid #999;*/

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 41px;
  /*  padding-top: 15px;
  padding-bottom: 20px;*/
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
  line-height: 22px;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  /*  padding-right: 0.8em;*/
  text-align: center;
}
