/*.code-editor-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
    margin-top: 15px;
  margin-bottom: 20px;
}*/

/*.code-editor-wrapper .nums-background {
  width: 41px;
  height: 100%;
  background-color: #e2f7eb;
}*/

.prism-editor__line-numbers,
pre[class*='language-'],
code[class*='language-'] {
  font-family: 'IBM Plex Mono', monospace;
}
/*********************************************************
**********************************************************
  LINE NUMBERS
**********************************************************  
*********************************************************/

.prism-editor__line-numbers {
  width: 41px;
  height: 100%;
  background-color: #e2f7eb;
  padding: 15px 0 20px 0;
  text-align: center;
  color: black;
}
.prism-editor__line-number {
  text-align: center;
  color: black;
}

.prism-editor__line-number.token.comment {
  text-align: center;
  color: #93c5a8;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

/*********************************************************
**********************************************************
  CODE EDITOR
**********************************************************  
*********************************************************/

pre[class*='language-'] {
  padding: 15px 0 20px 17px;
}
code[class*='language-'],
pre[class*='language-'] {
  /*  position: absolute;
  top: 8px;*/
  /*  left: 0;*/

  /*color: #393a34;*/
  /*  font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier,
    monospace;*/
  /*  direction: ltr;
  text-align: left;*/
  /*  white-space: pre;
  word-spacing: normal;
  word-break: normal;*/
  /*font-size: 0.9em;*/
  /*line-height: 1.2em;*/
  /*letter-spacing: normal;*/

  font-size: 16px;
  line-height: 22px;

  /*  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;*/

  /*  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;*/

  margin: 0;
  /*padding: 0;*/
}

/*pre > code[class*='language-'] {
  font-size: 1em;
}*/

/*pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: #b3d4fc;
}*/

/* Code blocks */
code[class*='language-'] {
  /*left: 58px;*/
  /*  padding: 1em;
  margin: 0.5em 0;*/
  /*overflow: auto;*/
  /*border: 1px solid #dddddd;*/
  /*background-color: white;*/
}
pre[class*='language-'] {
  /*left: 17px;*/
  /*  padding: 1em;
  margin: 0.5em 0;*/
  /*overflow: auto;*/
  /*border: 1px solid #dddddd;*/
  /*background-color: white;*/
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  /*  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;*/
  /*border: 1px solid #dddddd;*/
}

/*.code-wrapper {
  margin: 15px 0 20px 0;
}*/

/*span {
  color: red !important;
}*/
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #aaaaaa;
  font-style: normal;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #5eac7d;
}
.token.punctuation,
.token.operator {
  color: #c42032; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #6ba5ff;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #468fff;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

/*.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}*/

.token.italic {
  font-style: italic;
}
