html,
body {
  font-family: Inter;
  color: #1c2e36;
  width: 1450px;
  margin: 0 auto;
}

section {
  position: relative;
}

ul {
  position: relative;
  font-size: 22px;
  font-weight: 600;

  li {
    list-style-type: none;
  }
}
