html,
body {
  font-family: Inter;
  color: #5b616c;
  max-width: 1450px;
  margin: 0 auto;
}

section {
  position: relative;
}

h1,
h2 {
  color: #1c2e36;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 24px;
}

.richText {
  h2 {
    color: inherit;
  }
}
