html,
body {
  font-family: Inter;
  color: #5b616c;
}

section {
  position: relative;
}

h1 {
  color: #1c2e36;
}

ul {
  position: relative;
  font-size: 22px;
  font-weight: 600;

  li {
    list-style-type: none;
    margin-bottom: 16px;

    &::before {
      content: url('/images/temp-icon-red.svg');
      position: absolute;
      left: 0;
    }
  }
}
